# Dependencies
node_modules/
npm-debug.log

# Build output
build/

dist/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production
.env.*.local

# Log files
*.log

# Ignore package-lock.json for libraries that use yarn workspaces
package-lock.json

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
